/*
    main styling for the menu
    and overall structure
*/

.game-wrapper {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
}

.game-ui-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 15;
}

.game-ui-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
}

.game-ui-screens {
    width: 100%;
    height: 100%;
}

.game-ui-screen {
    width: 100%;
    height: 100%;
    display: none;

    opacity: 0;
    transform: scale(1.2);

    position: fixed;
    top: 0;
    left: 0;

    transition: opacity 0.25s ease, transform 0.3s ease;
}
.page-animate-in {
    transform: scale(1);
    opacity: 1;
}

.game-ui-screen-menu {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.game-ui-screen-menu-banner {
    width: 800px;
    min-height: 240px;

    margin: 0 auto;
}

.game-ui-screen-menu-options > a {
    display: block;
    padding: 20px;

    text-align: center;
    font-size: 22px;

    color: #b5bbc4;
    text-transform: uppercase;
    text-decoration: none!important;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.game-ui-screen-menu-options > a:hover {
    background: #FF1E1E;
    color: #fff;
    cursor: pointer;
}
